{#
/**
 * @file
 * Theme override of a link with description.
 *
 * Available variables:
 * - link: The link that has already been formatted by Drupal\Core\Link.
 * - description: The link description
 *
 * @see template_preprocess()
 */
#}
{% apply spaceless %}
  <div class="link-item">
    {{ link }}
    {% if description %}
      <p class="link-description">{{ description }}</p>
    {% endif %}
  </div>
{% endapply %}
